/*
	CSS Reset(초기화) : 
	태그들이 가지고 있는 기본 속성과 값을
	코딩하기 편한 값으로 변경
*/
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  span,
  div,
  ul,
  li,
  dl,
  dt,
  dd,
  tr,
  th,
  td,
  table,
  form,
  fieldset,
  input,
  button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  input {
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
  }
  a {
    color: #000; /* inherit */
    text-decoration: none;
    box-sizing: border-box;
  }
  ul,
  ol,
  li {
    list-style: none;
    box-sizing: border-box;
  }
  address {
    font-style: normal;
    box-sizing: border-box;
  }
  img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    height: auto;
    box-sizing: border-box;
  }
  fieldset {
    border: 0 none;
  }
  input,
  button {
    vertical-align: middle;
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
  }
